{# All-in-one (climate + sensor) #}
{% set climates = states.sensor
  | selectattr('entity_id','search','_yaml_climate_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}
{% set comfort_climates = states.sensor
  | selectattr('entity_id','search','_yaml_comfort_climate_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}
{% set group_chunks = states.sensor
  | selectattr('entity_id','search','_yaml_group_climate_chunk_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}
{% set batteries = states.sensor
  | selectattr('entity_id','search','_yaml_battery_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}
{% set temps = states.sensor
  | selectattr('entity_id','search','_yaml_temperature_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}

climate:
{% for s in climates %}
  {{ (s.state | trim | replace('\n', '\n  ')) }}
{% endfor %}
{% for s in comfort_climates %}
  {{ (s.state | trim | replace('\n', '\n  ')) }}
{% endfor %}
{% if group_chunks | length > 0 %}
  # Group climates
{% for gc in group_chunks %}
  {{ (gc.state | trim | replace('\n', '\n  ')) }}
{% endfor %}
{% endif %}

sensor:
{% for s in batteries %}
  {{ (s.state | trim | replace('\n', '\n  ')) }}
{% endfor %}
{% for s in temps %}
  {{ (s.state | trim | replace('\n', '\n  ')) }}
{% endfor %}

{# Climate only #}
{% set climates = states.sensor
  | selectattr('entity_id','search','_yaml_climate_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}
{% set comfort_climates = states.sensor
  | selectattr('entity_id','search','_yaml_comfort_climate_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}
{% set group_chunks = states.sensor
  | selectattr('entity_id','search','_yaml_group_climate_chunk_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}

climate:
{% for s in climates %}
  {{ (s.state | trim | replace('\n', '\n  ')) }}
{% endfor %}
{% for s in comfort_climates %}
  {{ (s.state | trim | replace('\n', '\n  ')) }}
{% endfor %}
{% if group_chunks | length > 0 %}
  # Group climates
{% for gc in group_chunks %}
  {{ (gc.state | trim | replace('\n', '\n  ')) }}
{% endfor %}
{% endif %}

{# Sensors only #}
{% set batteries = states.sensor
  | selectattr('entity_id','search','_yaml_battery_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}
{% set temps = states.sensor
  | selectattr('entity_id','search','_yaml_temperature_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}

sensor:
{% for s in batteries %}
  {{ (s.state | trim | replace('\n', '\n  ')) }}
{% endfor %}
{% for s in temps %}
  {{ (s.state | trim | replace('\n', '\n  ')) }}
{% endfor %}

{# Comfort climates only #}
{% set comfort_climates = states.sensor
  | selectattr('entity_id','search','_yaml_comfort_climate_')
  | selectattr('state','ne','unknown')
  | selectattr('state','ne','unavailable')
  | rejectattr('state','equalto','')
  | sort(attribute='entity_id') | list %}

climate:
{% for s in comfort_climates %}
  {{ (s.state | trim | replace('\n', '\n  ')) }}
{% endfor %}
